<nav class="navbar navbar-expand navbar-dark bg-primary">


     <a class="navbar-brand" href="#">Always expand</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02"
          aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                    <a class="nav-link" href="/home">Home </a>
               </li>
               <li class="nav-item">
                    <a class="nav-link" href="/Residence">Residence</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link" href="#">any</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link" routerLink="Residence">routerlink</a>
               </li>
          </ul>

     </div>
</nav>