<header class="bg-white shadow">
     <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">show-one-product works !</h1>
     </div>
</header>
<main>
     <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">

          <div class="card" style="width: 14erm;">
               <img class="card-img-top" src="{{p.image}}">
               <div class="card-body">
                    <h5 class="card-title">{{p.title}}</h5>
                    <p class="card-text">{{p.price}}</p>
                    <p class="card-text">{{p.like}}</p>

                    <a href="#" class="btn btn-primary">Buy Now</a>
                    <button class="btn btn-primary" (click)="sendDataToFather(p)">like</button>
               </div>

          </div>



     </div>
</main>