<header class="bg-white shadow">
     <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">Home</h1>
     </div>
</header>
<main>
     <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">

          <!--     
               <input type="submit" value="click" (click)="home()">   
               <div [style.backgroundColor]="color">
               PropertyBinding
          </div>
          -->
          <input type="text" placeholder="Type here color" class="input input-bordered w-full max-w-xs"
               [(ngModel)]="color" />
          <br><br>
          <div class="#">
               <table class="table table-zebra">
                    <thead>
                         <th [style.backgroundColor]="color">ID</th>
                         <th [style.backgroundColor]="color">Title</th>
                         <th [style.backgroundColor]="color">Price</th>
                         <th [style.backgroundColor]="color">Quantity</th>
                         <th [style.backgroundColor]="color">Like</th>
                         <th [style.backgroundColor]="color">Add Like</th>
                         <th [style.backgroundColor]="color">Buy</th>
                    </thead>
                    <tbody>
                         <tr *ngFor="let i of products ; let idx=index " class="bg-base-50 hover">

                              <ng-container *ngIf="i.price > price || price==null">
                                   <th>{{i.id}}</th>
                                   <td>{{i.title}}</td>
                                   <td>{{i.price}}</td>
                                   <td>{{i.quantity}}</td>
                                   <td>{{i.like}}</td>
                                   <td><button class="btn btn-outline btn-primary" (click)="incrime(idx)">Like</button>
                                   </td>
                                   <td><button class="btn btn-outline btn-accent" [disabled]="i.quantity==0"
                                             (click)="buy(idx)">buy</button></td>

                              </ng-container>
                         </tr>
                    </tbody>
               </table>
          </div>
          <input type="text" placeholder="Type here Filter Price" class="input input-bordered w-full max-w-xs"
               [(ngModel)]="price">
     </div>
</main>